In [1]:
import pandas as pd

In [2]:
# Read JSON file
data = pd.read_json('../datasets-JSON/simple.json')

In [3]:
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [4]:
# Read the data (incorrect)
recordsData = pd.read_json('../datasets-JSON/simple_records.json')

ValueError: Trailing data

In [5]:
# read the data with records
dataRecords = pd.read_json('../datasets-JSON/simple_records.json', lines=True)

In [6]:
dataRecords.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [7]:
# Read Nested JSON file

In [8]:
import json

In [9]:
# open and load the data in json file
with open('../datasets-JSON/nested.json') as f:
    jsonData = json.load(f)

print(jsonData)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [10]:
# Use pprint (Prety print)
from pprint import pprint
pprint(jsonData)

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

In [ ]:
# Acces nested data
data0 = jsonData[0]
data0

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [12]:
data0['details']

{'name': 'Andew', 'age': 12, 'grade': 'A'}

In [13]:
data0['details']['age']

12

In [14]:
# Iterate through json
for data in jsonData:
    print(data['details']['age'])

12
18
11
12
13
22
11
19
10
9

In [16]:
# store to particular variabel
filterData = []

for data in jsonData:
    # create new empty dictionary
    filterVariable = {}

    # check for condition
    if data['details']['age'] > 15:
        filterVariable['age']= data['details']['age']
        filterVariable['name']= data['details']['name']
        filterData.append(filterVariable)

In [17]:
filterData

[{'age': 18, 'name': 'Bhuvan'},
 {'age': 22, 'name': 'Farhan'},
 {'age': 19, 'name': 'Himanshu'}]

In [18]:
# WRITING JSON FILE

In [19]:
with open('../datasets-JSON/filtered.json', 'w') as f:
    json.dump(jsonData, f, indent=4)